* {
    box-sizing: border-box;
}

html {
    font-family: "PT Serif", monospace, sans-serif;
}

main {
    height: 100vh;
}

.pic {
    padding: 10px;
}

section, footer {
    border: 2px solid lightblue;

}

footer {
    height: 10%;
}

.footer-content {
    color: white;
}

.content1 {
    display: flex;
    border: 2px solid black;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    gap: 20px;
    background: #1F2937;
}

.left-content h1 {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;
    padding-left: 20px;
}

.left-content p {
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 20px;
}

.content2 {
    border: 2px solid black;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.section2-content h2 {
    margin-bottom: 10px;
}

.content2-wrap {
    border: 2px solid black;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.content3 {
    border: 2px solid black;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    background: #E5E7EB;
}

.content3 p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 10px;
}

.content4 {
    display: flex;
    border: 2px solid black;
    height: 150px;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.content5 {
    border: 2px solid black;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    background: #1F2937;   
}


.header-logo img {
    width: 75px;
    height: 75px;
}

.left-content, .right-content {
    width: 50%;
}

.right-content {
    overflow: hidden;
}

.right-content img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#dog-img {
    margin-top: 40px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-bottom: 30px;
}

a {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.box-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding-bottom: 40px;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

div > h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 0;
    padding-top: 40px;
}

div > h2, span {
    text-align: center;
}

.section3-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section3-content p{
    padding-top: 30px;
    line-height: 1.5em;
}

#span1 {
    font-weight: bold;
    text-align: end;
    padding-bottom: 30px;

}

.section4-content {
    display: flex;
    margin: 0 auto;
    height: 50%;
    width: 80%;
    color: white;
    background: #3882F6;
    padding: 50px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);    
}

.section4-left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section4-right h3{
    margin: 0;
    padding: 0;
}

.section4-right p{
    margin: 0;
    padding: 0;
}

.section4-content{
    line-height: 1.5rem;
}

.section4-right {
    padding-right: 30px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    background: #3882F6;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin: 15px;
    width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    padding: 4px 6px;
}

.right-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-top: 70px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

div > h3 + p {

}

